<template>
  <section class="content">
    <div class="container-fluid">
        <div class="row">

          <div class="col-12">
        
            <div class="card" v-if="$gate.isAdmin()">
              <div class="card-header">
                <h3 class="card-title">Group List</h3>

                <div class="card-tools">
                  
                  <button type="button" class="btn btn-sm btn-primary" @click="newModal">
                      <i class="fa fa-plus-square"></i>
                      Add New
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>IC</th>
                      <th>Name</th>
                      <th>Remarks</th>
                      <th>Created</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr v-for="group in groups.data" :key="group.id">

                      <td>{{group.id}}</td>
                      <td class="d-block text-muted" @click="viewModal(group)">{{group.name}}</td>
                      <td>{{group.remarks}}</td>
                      <td>{{group.created_at}}</td>
                      <td>
                        <a href="#" @click="viewModal(group)">
                            <i class="fa fa-eye red"></i>
                        </a>        
                        /
                        <a href="#" @click="editModal(group)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="groups" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>


        <div v-if="!$gate.isAdmin()">
            <not-found></not-found>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode">Create New Group</h5>
                    <h5 class="modal-title" v-show="editmode">Update Group</h5>
                    <h5 class="modal-title" v-show="viewmode">View Group</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- <form @submit.prevent="createGroup"> -->

                <form @submit.prevent="editmode ? updateGroup() : createGroup()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input v-model="form.name" type="text" name="name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Remarks</label>
                            <input v-model="form.remarks" type="text" name="remarks"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('remarks') }">
                            <has-error :form="form" field="remarks"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                        <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>



          <!-- Modal -->
        <div class="modal fade" id="view" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="viewmode">Show Group</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
<!-- <form @submit.prevent="viewGroup"> -->
                <form @submit.prevent="viewmode ? viewGroup() : createGroup()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input readonly v-model="form.name" type="text" name="name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <label>Remarks</label>
                            <input readonly v-model="form.remarks" type="text" name="remarks"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('remarks') }">
                            <has-error :form="form" field="remarks"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   </div>
                  </form>
                    </div>
                </div>
            </div>
       </div>
   </section>
</template>

<script>
    export default {
        data () {
            return {
                editmode: false,
                viewmode: false,
                groups : {},
                form: new Form({
                    id : '',
                    name: '',
                    remarks: '',
                })
            }
        },
        methods: {
            getResults(page = 1) {
                  this.$Progress.start();
                  
                  axios.get('/api/group?page=' + page).then(({ data }) => (this.groups = data.data));
                  this.$Progress.finish();
            },
            updateGroup(){
                this.$Progress.start();
                this.form.put('/api/group/'+this.form.id)
                .then((response) => {
                    // success
                    $('#addNew').modal('hide');
                    Toast.fire({
                      icon: 'success',
                      title: response.data.message
                    });
                    this.$Progress.finish();
                        //  Fire.$emit('AfterCreate');
                    this.loadGroups();
                })
                .catch(() => {
                    this.$Progress.fail();
                });
            },
             viewModal(group){

                this.viewmode = true;
                this.form.reset();
                $('#view').modal('show');
                this.form.fill(group);
            },
              viewGroup(){
                 
               this.$Progress.start();
                this.form.put('api/group/'+this.form.id)
                .then((response) => {
                    // success
                    $('#view').modal('hide');
                    Toast.fire({
                      icon: 'success',
                      title: response.data.message
                    });
                    this.$Progress.finish();
                        //  Fire.$emit('AfterCreate');

                    this.loadGroups();
                })
                .catch(() => {
                    this.$Progress.fail();
                });

            },
            editModal(group){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(group);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            loadGroups(){
                if(this.$gate.isAdmin()){
                    axios.get("/api/group").then(({ data }) => (this.groups = data.data));
                }
            },
            
            createGroup(){
                this.form.post('/api/group')
                .then((response)=>{
                    $('#addNew').modal('hide');
                    Toast.fire({
                            icon: 'success',
                            title: response.data.message
                    });
                    this.$Progress.finish();
                    this.loadGroups();
                })
                .catch(()=>{
                    Toast.fire({
                        icon: 'error',
                        title: 'Some error occured! Please try again'
                    });
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created() {
            this.$Progress.start();
            this.loadGroups();
            this.$Progress.finish();
        }
    }
</script>